Repository slsa-framework/slsa, pull requests merged in 2024-10, with the labels that each got.

#1115 content: draft: Add attested build environment track
  docs/_data/nav/draft.yml
  docs/spec/draft/attested-build-env-levels.md
  docs/spec/draft/terminology.md
Labels: build-environment-track

#1205 content: draft: clarify "in the present context"
  docs/spec/draft/source-requirements.md
Labels: source-track

#1190 content: draft: Flesh out 'Distribution Channel' threats.
  docs/spec/draft/threats.md
Labels: slsa 1.1

#1191 content: draft: Flesh out "Usage" threat
  docs/spec/draft/threats.md
Labels: slsa 1.1

#1200 content: draft: move strong auth to the system section
  docs/spec/draft/source-requirements.md
Labels: source-track

#1209 content: draft: Update threat-overview table to use new threat diagram
  docs/spec/draft/threats-overview.md
Labels: slsa 1.1

#1206 content: draft: reword "Change management process" requirement
  docs/spec/draft/source-requirements.md
Labels: source-track

#1221 editorial: draft: fix grammar mistake
  docs/spec/draft/source-requirements.md
Labels: source-track

#1203 content: draft: Harden 'safe-expunging-process'
  docs/spec/draft/source-requirements.md
Labels: source-track

#1217 content: draft: Improve strength of Source Level 3
  docs/spec/draft/source-requirements.md
Labels: source-track
